<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Code Rules" ToolsVersion="16.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="globalizationrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1003" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1100" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="None" />
    <Rule Id="SA1108" Action="None" />
    <Rule Id="SA1110" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1306" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
  </Rules>
</RuleSet>