<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SteveCadwallader.CodeMaid.Properties.Settings>
      <setting name="Cleaning_RunVisualStudioRemoveUnusedUsingStatements"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentXmlSpaceSingleTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesSingleLine"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_Multithread" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_RegionsInsertNewRegions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesSingleLine"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_RegionsIncludeAccessLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeSingleLineComments"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_IconSet" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Reorganizing_KeepMembersWithinRegions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
        <value>Constructors||10||Constructors</value>
      </setting>
      <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
        <value>Methods||11||Methods</value>
      </setting>
      <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
        <value>Properties||7||Properties</value>
      </setting>
      <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
        <value>Enums||1||Enums</value>
      </setting>
      <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
        <value>Destructors||12||Destructors</value>
      </setting>
      <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
        <value>Delegates||6||Delegates</value>
      </setting>
      <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
        <value>Indexers||8||Indexers</value>
      </setting>
      <setting name="Reorganizing_MemberTypeClasses" serializeAs="String">
        <value>Classes||4||Classes</value>
      </setting>
      <setting name="Reorganizing_MemberTypeFields" serializeAs="String">
        <value>Fields||5||Fields</value>
      </setting>
      <setting name="Reorganizing_MemberTypeStructs" serializeAs="String">
        <value>Structs||3||Structs</value>
      </setting>
      <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
        <value>Interfaces||2||Interfaces</value>
      </setting>
      <setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
        <value>Events||9||Events</value>
      </setting>
      <setting name="Cleaning_UpdateEndRegionDirectives" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="General_SkipUndoTransactionsDuringAutoCleanupOnSave"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_Theme" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_SkipRemoveUnusedUsingStatementsDuringAutoCleanupOnSave"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Formatting_CommentWrapColumn" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="Formatting_CommentSkipWrapOnLastWord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingBeforeUsingStatementBlocks"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_InsertBlankLinePaddingAfterUsingStatementBlocks"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ThirdParty_OtherCleaningCommandsExpression" serializeAs="String">
        <value>Edit.SortUsings</value>
      </setting>
      <setting name="Cleaning_SkipRemoveAndSortUsingStatementsDuringAutoCleanupOnSave"
        serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Formatting_IgnoreLinesStartingWith" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;ReSharper disable &lt;/string&gt;
  &lt;string&gt;ReSharper enable &lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
      </setting>
      <setting name="Reorganizing_PerformWhenPreprocessorConditionals"
        serializeAs="String">
        <value>1</value>
      </setting>
    </SteveCadwallader.CodeMaid.Properties.Settings>
  </userSettings>
</configuration>